﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Wintergreen Corporation Rep Portal</h2>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>

