﻿@model IEnumerable<IObject.Common.Rep.RepAccount>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $('document').ready(function() {
        $('#usersSearch').keypress(function(e) {
            if (e.which === 13) { //Enter key pressed
                $.get('@Url.Action("RepAccountsGrid", "Home")', { searchTxt: $('#usersSearch').val() }, function(data) {
                    $("#rData").html(data);
                });
            }
        });

    });
</script>

<div>
    <label>
        Search:
        <input id="usersSearch" type="search"/>
    </label>
</div>
<div id="rData">
    @Html.Partial("RepAccountsGrid", Model);
</div>